@include media-md {
  .menu-btn {
    visibility: hidden;
  }

  .nav {
    visibility: visible;

    .menu-nav {
      display: block;
      transform: translateY(0);
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      text-align: center;
      padding-left: 2rem;

      &__item {
        display: inline;
        padding-right: 1.5rem;
      }

      &__link {
        font-size: 1.5rem;
      }
    }
  }

  //Projects Page
  .projects {
    .home {
      height: 40vh;
    }
    &__items {
      grid-template-columns: repeat(2, 1fr);
      margin: 10rem auto 0 auto;
      height: 600px;
      width: 700px;
    }
  }
}

@include media-lg {
  .projects {
    &__items {
      grid-template-columns: repeat(3, 1fr);
      margin: 10rem auto 0 auto;
      height: 500px;
      width: 1100px;
    }
  }
  .contact__home__content__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 1.5rem;
  }
}
